.car {
  @extend .base-scroll;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  &-header {
    height: 60px;
    background: #f7f7f7;
    padding-left: 20px;
    &_title {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      line-height: 60px;
    }
  }

  &_table-tool {
    &-line {
      display: inline-block;
      width: 1px;
      height: 10px;
      background: #e6e6e6;
    }
  }
  &_empty-text {
    padding: 84px 0 117px 0;
    &-title {
      font-size: 16px;
      color: #333333;
      padding: 30px 0 20px 0;
    }
  }
  &-footer {
    padding: 22px 35px 22px 45px;
    background: #ffffff;
    &_tool-box {
      display: inline-block;
      vertical-align: top;
      .ant-checkbox-inner {
        border-radius: 50%;
      }
      &-item {
        display: block;
        font-size: 12px;
        color: #999999;
        line-height: 12px;
        &:last-child {
          margin-top: 10px;
        }
      }
    }

    &_detail {
      float: right;
      &-item {
        font-size: 12px;
        color: #333333;
        display: inline-block;
        padding-right: 10px;
        border-right: 1px solid #e6e6e6;
        line-height: 13px;
        &:not(:first-child) {
          margin-left: 10px;
        }
        span {
          color: #1a61dc;
          font-size: 14px;
          font-weight: bold;
        }
      }
      &-total {
        font-size: 14px;
        margin-left: 10px;
        font-weight: bold;
        margin-right: 30px;
        span {
          color: #cc0000;
          font-size: 18px;
        }
      }
    }
  }
}
