// base color
$white: #ffffff;
$black: #333333;
$lightBlack: #999999;
$gray: #f1f2f7;
$gray2: #E6E6E6;
$darkGray: #808080;
$lightGrey: #F1F1F1;
$blue: #1a61dc;
$border-color: #ededed;
$underline-color: #DADCE6;
// $light-blue:#3A71A8;
// $red:#C03639;
// $pink: #E65D6E;
// $green: #30B08F;
// $tiffany: #4AB7BD;
// $yellow:#FEC171;
// $panGreen: #30B08F;
$blockWidth: 1200px;