.page-container_menu-title {
  height: 158px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  div {
    color: #39a0fd;
    font-size: 16px;
    position: relative;
    top: -20px;
  }
}

$filterItemHeight: 42 40 50;
.shop-home {
  &_filter-wrapper {
    margin-top: 10px;
    background: $white;
    padding: 0 20px;
  }
  @each $number in ($filterItemHeight) {
    .shop-home_filter-item--#{$number} {
      min-height: $number + px;
      line-height: $number + px;
      @if $number == 42 {
        border-bottom: 1px solid #e5e5e5;
      } @else if $number == 40 {
        border-bottom: 1px dashed #e5e5e5;
      }
    }
  }
  &_filter-item-title {
    vertical-align: top;
  }
  &_filter-category {
    display: inline-block;
    width: 800px;
    margin-left: 42px;
    li {
      display: inline-block;
      margin-right: 48px;
      background: #39a1fd;
      height: 26px;
      color: #fff;
      line-height: 26px;
      text-align: center;
    }
  }
}
