.page-container_menu-title {
  height: 158px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  div {
    color: #39a0fd;
    font-size: 16px;
    position: relative;
    top: -20px;
  }
}

$filterItemHeight: 42 40 50;
.shop-home {
  &_filter-wrapper {
    margin: 10px 0;
    background: $white;
    padding: 0 20px;
  }
  @each $number in ($filterItemHeight) {
    .shop-home_filter-item--#{$number} {
      min-height: $number + px;
      line-height: $number + px;
      @if $number == 42 {
        border-bottom: 1px solid #e5e5e5;
      } @else if $number == 40 {
        border-bottom: 1px dashed #e5e5e5;
      }
    }
  }
  &_filter-item-title {
    vertical-align: top;
    position: relative;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid #b3b3b3;
      border-bottom: 5px solid transparent;
      top: 3px;
      right: -23px;
    }
  }
  &_filter-category {
    display: inline-block;
    width: 800px;
    margin-left: 64px;
    li {
      display: inline-block;
      margin-right: 24px;
      padding: 0 12px;
      border-radius: 2px;
      height: 26px;
      transition: all 0.3s;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
    }
    .active {
      background: #39a1fd;
      color: #fff;
    }
    &--selection {
      color: #39a1fd;
      border: 1px dashed #39a1fd;
    }
  }
  &_product-wrapper {
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    &-content {
      margin-top: 20px;
      height: 58px;
      .shop-home_content-item {
        color: #ecc573;
        font-size: 14px;
        border: 1px solid #faecd4;
        border-radius: 2px;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 10px;
        padding: 0 9px;
        height: 24px;
        line-height: 23px;
        cursor: pointer;
        &--ellipsis {
          color: #ecc573;
          font-size: 14px;
          display: inline-block;
          margin-right: 12px;
        }
      }
    }
  }
}

.purchase-order {
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 2px;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  .ant-tabs-bar {
    margin: 0;
  }
  &_product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
  }
  &_trace-btn {
    color: #1a61dc;
    border: 1px solid #1a61dc;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    padding: 2px 5px;
    font-weight: 500;
    margin-left: 10px;
  }
  &_header {
    background: #e6e6e6;
    color: #999999;
    padding: 13px 20px;
    font-size: 12px;
  }

  &_table-header {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    text-align: center;
    font-size: 12px;
    padding: 6px 0;
    &--fixed {
      background: #f2f2f2;
      border: 1px solid #e6e6e6;
      text-align: center;
      font-size: 12px;
      padding: 6px 0;
      position: fixed;
      top: 70px;
      z-index: 1;
      width: 1008px;
    }
  }

  &_table-title {
    color: #333333;
    font-size: 12px;
    line-height: 30px;
    padding-left: 50px;
    height: 30px;
    background: rgba(238, 238, 238, 1);
    border: 1px solid rgba(230, 230, 230, 1);
  }

  &_table-item {
    // text-align: center;
    .ant-col {
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-btn-link {
        color: #999999;
      }
      .ant-list-item-meta-title {
        white-space: nowrap;
      }
    }
    .ant-col:nth-child(4) {
      border-right: 1px solid #e6e6e6;
    }
  }
  &_table-item:not(:last-child) {
    .ant-col:nth-child(-n + 4) {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}
