.configApp {
    height: 100vh;
    background-color: $white;
    padding: 30px 50px;
}

.interfaceConfig {
    margin-top: 20px;
    padding: 0 30px;

    &-title {
        background-color: #FFF9F2;
        color: #F6BB66;
        padding: 10px 20px;
        border: 1px solid #FFDFB5;

        &--but {
            color: #f6bb66;
            padding: 0 4px;
            font-weight: 600;
        }

        &--but:hover {
            color: #eb9f34
        }
    }

    &-content {
        padding: 0px 30px;

        &--border {
            height: 1px;
            width: 100%;
            margin: 30px 0px;
            background-color: $border-color1;
        }

        &--testBtn {
            padding: 0;
            width: 60px;
            height: 30px;
            @extend .f12;
            background-color: $border-color1;
            color: $black1;
            margin-top: 4px;
        }
    }
}